RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=nowbox-app
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=nowbox

MINIO_ENDPOINT=http://localhost:9000

MINIO_ACCESS_KEY=nowbox-jobs
MINIO_SECRET_KEY=
MINIO_BUCKET_CONTRATOS=nowbox-contratos

DB_URL=jdbc:postgresql://localhost:5432/nowbox

DB_USERNAME=nowbox_jobs
DB_PASSWORD=
