# Credenciais ROOT usados apenas para administracao e nao para a aplicacao
MINIO_ROOT_USER=nowbox-admin
MINIO_ROOT_PASSWORD=

# Usuario da aplicacao com menor privilegio
MINIO_APP_ACCESS_KEY=nowbox-app
MINIO_APP_SECRET_KEY=

MINIO_BUCKET=nowbox

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
